{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Matrícula de aluno</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="nav-container">
            
            <nav>
                <a href="{% url 'cadastro_aluno' %}">Cadastrar aluno</a>
                <a href="{% url 'lista_alunos' %}">Listar alunos</a>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="content-container">
            <h2>Matrícula de Aluno</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                    {{ form.nome }}
                </div>
                <div class="form-group">
                    <label for="{{ form.endereco.id_for_label }}">{{ form.endereco.label }}</label>
                    {{ form.endereco }}
                </div>
                <div class="form-group">
                    <label for="{{ form.cidade.id_for_label }}">{{ form.cidade.label }}</label>
                    {{ form.cidade }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.curso.id_for_label }}">{{ form.curso.label }}</label>
                    {{ form.curso }}
                </div>
                <button type="submit">Cadastro</button>
            </form>
        </div>
    </main>
    
    <footer>
        <p>Todos os direitos reservados.</p>
    </footer>
</body>
</html>
